
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
 
body {
    background-color: black;
}

.container{
    margin: auto;
    width: 600px;
    height: 200px;
    background-color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container h1 {
    float: right;
    font-size: 150px;
}